---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Carvey." description="Know Carvey as a personal.">
  <main>
    <section class="py-20 sm:py-24 lg:py-[120px]">
      <div
        class="flex justify-center items-center text-[100px] h-screen font-jim"
      >
        Under Development
      </div>
    </section>
  </main>
</Layout>
