---
import { getCollection } from "astro:content";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import WorkCard from "../components/WorkCard.astro";
import { Image } from "astro:assets";
import ProjectCard from "../components/ProjectCard.astro";

const allWorkExperiences = await getCollection("work");
const allProjects = await getCollection("project");
---

<Layout
  title="Welcome to Carvey Portfolio."
  description="Know much more about me!"
>
  <main>
    <HeroSection />
    <section class="mt-20 sm:mt-24 lg:mt-[120px]" id="work-section">
      <h2 class="font-semibold mb-20 sm:mb-24 lg:mb-[120px]">
        Work Experience
      </h2>
      {allWorkExperiences.map((work) => <WorkCard work={work.data} />)}
    </section>
    <section class="mt-20 sm:mt-24 lg:mt-[120px]">
      <h2 class="font-semibold mb-20 sm:mb-24 lg:mb-[120px]">Project</h2>
      {allProjects.map((project) => <ProjectCard project={project.data} />)}
    </section>
  </main>
</Layout>
