---
import BlobBg from "../components/BlobBg.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-black-main text-white-main min-h-full">
    <div class="max-w-[1440px] mx-auto">
      <div class="h-full">
        <BlobBg />
      </div>
      <Navbar activePath={Astro.url.pathname} client:load />
      <div class="px-6 lg:px-[120px] relative z-10">
        <slot />
      </div>
      <div
        class="px-6 lg:px-[120px] relative z-10 bg-black-main py-20 sm:py-24 lg:py-[120px]"
      >
        <Footer />
      </div>
    </div>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
